/* .body-container{
    width: 100%;
    height: 100%;
    background-image: url(/public/WhatsApp Image 2024-05-01 at 19.02.41.jpeg);
    background-repeat: no-repeat;
} */
.form-container{
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    
}
.form-container h1{
    text-decoration: underline #535bf2;
}
.input{
    width: 100%;
    margin-bottom: 10px;
    padding: .5rem .5rem;
    border-radius: 10px;
    outline: rgb(104, 101, 101) solid 1px;
    border: none;
    height: 1.5rem;
}
select{
    width: 105%;
    margin-bottom: 10px;
    padding: .5rem .5rem;
    border-radius: 10px;
    outline: rgb(104, 101, 101) solid 1px;
    border: none;
    height: 2.5rem;
}
.input:focus{
    outline: #535bf2 2px solid;
    background-color: #535bf225;
}
/* #h{
    position: relative;
}
#h::before{
  content: "";
  background-color: #535bf2;
  width: 155px;
  height: 5.5px;
  border-radius: 5px;
  position: absolute;
  top: 100%;
} */
.button{
    background-color: #535bf2;
    color: white;
    font-weight: bold;
    border: none;
    border-radius:5px ;
    height: 35px;
    transition: background-color .5s ease;
    cursor: pointer;
}
.button:hover{
    background-color: hsl(237, 86%, 44%);
}
.button{
    margin-top: 1rem;
}
.wrapper{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 25px;
    border: #535bf25f solid 2px;
    background-color:rgba(255, 255, 255, 0.761);
}
.text-container{
    width: 350px;
    float: left;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 100px;
    /* background: rgb(83,94,242); */
    background: linear-gradient(90deg, rgba(83,94,242,1) 100%, white 0%);
    color: aliceblue;
}
.text-container div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: x-large;
    font-weight: 700;
}
.form-container .error{
    color: red;
}
.form-container .success{
    color: green;
}
header{
    background-color:whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: #535bf2 solid;
    border-radius: 15px;
} 
header .logo{
    font-weight: bold;
    font-size: larger;
  }
.logo::first-letter{
    color: #222222;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
.logo::before{
    content: "";
    background-color: #535bf2;
    width: 80px;
    height: 5.5px;
    border-radius: 5px;
    position: absolute;
    bottom:97%;
}
nav{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
body {
    margin: 0;
    min-width: 300px;
    background-color: white;
    min-height: 100vh;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
#b{
    width: 100px;
    padding: .5rem;
    background-color: #535bf2;
    color: white;
    font-weight: bold;
    border: none;
    border-radius:5px ;
    height: 35px;
    transition: background-color .5s ease;
    cursor: pointer;
}
  