.table{
    width: 60rem;
    margin: 0 auto;
    height: fit-content;
}
.cardTitle.person{
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.row{
    border: solid .5px rgba(108, 103, 113, 0.306);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 5rem;
    align-items: center;
    margin-bottom: 3px;
    width: inherit;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.row:nth-child(even){
    background-color: rgba(193, 186, 186, 0.18);
}
.row .Botona{
    font-size: medium;
    font-weight:normal;
}
.buttons{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttons button{
    padding: .25rem 1rem;
    border-radius: 7px;
    border: none;
}
.accept{
    background-color: rgba(11, 148, 11, 0.709);
    color: white;
    font-weight: bold;
    padding: 10rem;
}
.refuse{
    background-color: rgba(199, 15, 15, 0.709);
    color: white;
    font-weight: bold;
}
.accept:hover{
    cursor: pointer;
    background-color: rgb(8, 119, 8);
}
.refuse:hover{
    cursor: pointer;
    background-color: rgba(138, 11, 11, 0.819);
}